.spyderproject
.spyderproject

.ropeproject

/site

.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/    
cython_debug/

.env
.venv/
__pycache__/
*.pkl
*.csv
*.log
logs/
artifact/
src.egg-info/
*.egg-info/
*.db
*.tmp
*.bak
